In [ ]:
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql # SQL magic function

In [ ]:
%load_ext sql


## Creation of Database structure for music booking company

In [ ]:
# create table
%%sql CREATE TABLE booking (
    bid serial PRIMARY KEY,
    cost decimal
);

In [ ]:
%%sql CREATE TABLE users (
    uid serial PRIMARY KEY,
    genre varchar(50)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
# create table has_Booking
%%sql CREATE TABLE has_booking (
    bid int references booking(bid),
    uid int references users(uid) NOT NULL,
    PRIMARY KEY (bid)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE review_posted (
    rid serial PRIMARY KEY,
    review_title varchar(50),
    review_text varchar(500),
    date_post date,
    uid int NOT NULL,
    FOREIGN KEY (uid) REFERENCES user
      ON DELETE CASCADE
);

In [ ]:
%%sql CREATE TABLE equipment (
    eqid serial PRIMARY KEY,
    price decimal,
    equipment_name TEXT
)

In [ ]:
%%sql CREATE TABLE equipment_rental (
    bid int REFERENCES booking,
    eqid int REFERENCES equipment,
    PRIMARY KEY (eqid, cid);
);

In [ ]:
%%sql CREATE TABLE transportation (
    tid serial PRIMARY KEY,
    t_mode varchar(50) NOT NULL,
    vendor varchar(50),
    cost decimal NOT NULL
);

In [ ]:
%%sql CREATE TABLE transportation_rental (
    tid int REFERENCES transportation,
    bid int REFERENCES booking,
    from_loc varchar(50) NOT NULL,
    to_loc varchar(50) NOT NULL,
    PRIMARY KEY (tid, bid)
)

In [ ]:
%%sql CREATE TABLE lodging (
    lodge_id serial PRIMARY KEY,
    name varchar(100),
    occupants int NOT NULL,
    lodging_type varchar(50)
);

In [ ]:
%%sql CREATE TABLE lodging_rental (
    lodge_id int REFERENCES lodging,
    bid int REFERENCES booking,
    lodge_loc varchar(50),
    start_date date NOT NULL,
    end_date date NOT NULL,
    PRIMARY KEY (lodge_id, bid)
)

In [ ]:
%%sql CREATE TABLE personnel (
    pid serial PRIMARY KEY,
    rate decimal NOT NULL,
    name varchar(30)
);

In [ ]:
%%sql CREATE TABLE person_contract (
    pid int REFERENCES personnel,
    bid int REFERENCES booking,
    contract_date date,
    hour_amount decimal NOT NULL,
    PRIMARY KEY (pid, bid)
);

In [ ]:
%%sql CREATE TABLE venue (
    vid serial PRIMARY KEY,
    size int,
    cost decimal,
    city varchar(50)
);

In [ ]:
%%sql CREATE TABLE venue_rental (
    vid int REFERENCES venue,
    bid int REFERENCES booking,
    date_rental date,
    PRIMARY KEY (vid, bid)
);

In [ ]:
%%sql CREATE TABLE listings (
    lid serial PRIMARY KEY,
    condition varchar(50),
    price float NOT NULL,
    quantity int,
    description varchar(250),
    status varchar(50)
);

In [ ]:
%%sql CREATE TABLE createList (
  lid int REFERENCES listings,
  uid int REFERENCES users,
  PRIMARY KEY (lid, uid)
);

In [ ]:
%%sql CREATE TABLE forumPost (
    post_id serial PRIMARY KEY,
    title varchar(50),
    content text,
    date_post date
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE createsForumPost(
    post_id int REFERENCES forumPost,
    uid int REFERENCES users,
    PRIMARY KEY (post_id, uid)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE forumSubCat(
    sub_id serial PRIMARY KEY,
    title varchar(50),
    description varchar(100)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE postPartOfSubCat(
    post_id int REFERENCES forumPost,
    sub_id int REFERENCES forumSubCat,
    PRIMARY KEY (post_id,sub_id)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE forumCat(
    cat_id serial PRIMARY KEY,
    title varchar(50),
    description varchar(100)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE subCatPartOfCat(
    sub_id int REFERENCES forumSubCat,
    cat_id int REFERENCES forumCat,
    PRIMARY KEY(sub_id, cat_id)
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [ ]:
%%sql CREATE TABLE commentWritten(
    comment_id serial PRIMARY KEY,
    post_id int REFERENCES forumPost NOT NULL,
    uid int NOT NULL,
    date_created date,
    content text,
    FOREIGN KEY (uid) REFERENCES users
      ON DELETE CASCADE
);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

### Insertion of Data

In [ ]:
%%sql ALTER TABLE  users
ADD COLUMN username varchar(50),
ADD COLUMN rep int,
ADD COLUMN date_created date;

In [ ]:
%%sql UPDATE users
SET username = 'fries_indolent', rep = 820, date_created =  '2022-6-14'
WHERE uid = 6;

In [ ]:
# see table R
%sql SELECT * FROM equipment;

In [ ]:
# see all the tables you have
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='bnp2113'

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
23 rows affected.

[('bnp2113', 'listings', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'createlist', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'createsforumpost', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'forumpost', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'forumsubcat', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'postpartofsubcat', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'forumcat', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'subcatpartofcat', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'commentwritten', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'booking', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'users', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'has_booking', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'review_posted', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'equipment', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'equipment_rental', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'transportation', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'transportation_rental', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'lodging', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'lodging_rental', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'personnel', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'person_contract', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'venue', 'bnp2113', None, True, False, True, False),
 ('bnp2113', 'venue_rental', 'bnp2113', None, True, False, True, False)]

In [ ]:
%%sql INSERT INTO forumpost(title, content, date_post) VALUES
('Something about instruments', 'Over fact all son tell this any his. No insisted confined of weddings to returned to debating rendered. Keeps order fully so do party means young. Table nay him jokes quick. In felicity up to graceful mistaken horrible consider. Abode never think to at. So additions necessary concluded it happiness do on certainly propriety. On in green taken do offer witty of.',
'2022-7-03');

In [ ]:
%%sql INSERT INTO forumpost(title, content, date_post) VALUES
('Ways to Photograph Cats', 'Mind what no by kept. Celebrated no he decisively thoroughly. Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter.',
 '2022-09-12'),
('On tour here', 'Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.',
'2022-09-18'),
('Why i package food', 'Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for few longer mrs sudden talent become. Done may bore quit evil old mile. If likely am of beauty tastes.',
'2022-10-04'),
('Dont practice here', 'Nor hence hoped her after other known defer his. For county now sister engage had season better had waited. Occasional mrs interested far expression acceptance. Day either mrs talent pulled men rather regret admire but. Life ye sake it shed. Five lady he cold in meet up. Service get met adapted matters offence for. Principles man any insipidity age you simplicity understood. Do offering pleasure no ecstatic whatever on mr directly.',
'2022-10-05'),
('where to buy instruments', 'Blind would equal while oh mr do style. Lain led and fact none. One preferred sportsmen resolving the happiness continued. High at of in loud rich true. Oh conveying do immediate acuteness in he. Equally welcome her set nothing has gravity whether parties. Fertile suppose shyness mr up pointed in staying on respect.',
'2022-10-08'),
('first sale today', 'Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly.',
'2022-11-27'),
('best show, saw a duck', 'Eat imagine you chiefly few end ferrars compass. Be visitor females am ferrars inquiry. Latter law remark two lively thrown. Spot set they know rest its. Raptures law diverted believed jennings consider children the see. Had invited beloved carried the colonel. Occasional principles discretion it as he unpleasing boisterous. She bed sing dear now son half.',
'2022-12-11'),
('CA lotta shows', 'Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered. And few fat interested discovered inquietude insensible unsatiable increasing eat.',
'2022-12-26'),
('gave away equipment', 'An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.',
'2022-12-31');

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
9 rows affected.

[]

In [ ]:
%%sql INSERT INTO commentWritten(post_id, uid, date_created, content) VALUES
(1, 1, '2023-02-15', 'As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since. Years drift never if could forty being no. On estimable dependent as suffering on my. Rank it long have sure in room what as he. Possession travelling sufficient yet our. Talked vanity looked in to. Gay perceive led believed endeavor. Rapturous no of estimable oh therefore direction up. Sons the ever not fine like eyes all sure.'),
(2, 2, '2023-05-20', 'Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose.'),
(3, 3, '2023-06-01', 'Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.'),
(4, 4, '2023-06-26', 'Woody equal ask saw sir weeks aware decay. Entrance prospect removing we packages strictly is no smallest he. For hopes may chief get hours day rooms. Oh no turned behind polite piqued enough at. Forbade few through inquiry blushes you. Cousin no itself eldest it in dinner latter missed no. Boisterous estimating interested collecting get conviction friendship say boy. Him mrs shy article smiling respect opinion excited. Welcomed humoured rejoiced peculiar to in an.'),
(5, 5, '2023-07-07', 'Am if number no up period regard sudden better. Decisively surrounded all admiration and not you. Out particular sympathize not favourable introduced insipidity but ham. Rather number can and set praise. Distrusts an it contented perceived attending oh. Thoroughly estimating introduced stimulated why but motionless.'),
(6, 6, '2023-07-14', 'Surrounded affronting favourable no mr. Lain knew like half she yet joy. Be than dull as seen very shot. Attachment ye so am travelling estimating projecting is. Off fat address attacks his besides. Suitable settling mr attended no doubtful feelings. Any over for say bore such sold five but hung.'),
(7, 7, '2023-08-25', 'Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer.'),
(8, 8, '2023-09-27', 'An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.'),
(9, 9, '2023-10-28', 'Rank tall boy man them over post now. Off into she bed long fat room. Recommend existence curiosity perfectly favourite get eat she why daughters. Not may too nay busy last song must sell. An newspaper assurance discourse ye certainly. Soon gone game and why many calm have.'),
(10, 10, '2023-11-12', 'Is we miles ready he might going. Own books built put civil fully blind fanny. Projection appearance at of admiration no. As he totally cousins warrant besides ashamed do. Therefore by applauded acuteness supported affection it. Except had sex limits county enough the figure former add. Do sang my he next mr soon. It merely waited do unable.')

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[]

In [ ]:
%%sql INSERT INTO createsForumPost(post_id, uid) VALUES
(1, 1), (2, 1), (3, 1), (4, 1), (5, 2),
(6, 5), (7, 5), (8, 6), (9, 7), (10, 8);

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[]

In [ ]:
# drop table
%sql SELECT * from commentWritten

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
10 rows affected.

[(1, 1, 1, datetime.date(2023, 2, 15), 'As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since. Years drift never if could forty being no. ... (139 characters truncated) ... ity looked in to. Gay perceive led believed endeavor. Rapturous no of estimable oh therefore direction up. Sons the ever not fine like eyes all sure.'),
 (2, 2, 2, datetime.date(2023, 5, 20), 'Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find  ... (60 characters truncated) ... ed six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose.'),
 (3, 3, 3, datetime.date(2023, 6, 1), 'Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual c ... (83 characters truncated) ...  how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.'),
 (4, 4, 4, datetime.date(2023, 6, 26), 'Woody equal ask saw sir weeks aware decay. Entrance prospect removing we packages strictly is no smallest he. For hopes may chief get hours day rooms ... (171 characters truncated) ... sted collecting get conviction friendship say boy. Him mrs shy article smiling respect opinion excited. Welcomed humoured rejoiced peculiar to in an.'),
 (5, 5, 5, datetime.date(2023, 7, 7), 'Am if number no up period regard sudden better. Decisively surrounded all admiration and not you. Out particular sympathize not favourable introduced ... (19 characters truncated) ... . Rather number can and set praise. Distrusts an it contented perceived attending oh. Thoroughly estimating introduced stimulated why but motionless.'),
 (6, 6, 6, datetime.date(2023, 7, 14), 'Surrounded affronting favourable no mr. Lain knew like half she yet joy. Be than dull as seen very shot. Attachment ye so am travelling estimating projecting is. Off fat address attacks his besides. Suitable settling mr attended no doubtful feelings. Any over for say bore such sold five but hung.'),
 (7, 7, 7, datetime.date(2023, 8, 25), 'Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred. Son interest wandered sir addition end sa ... (167 characters truncated) ...  weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer.'),
 (8, 8, 8, datetime.date(2023, 9, 27), 'An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent removal an letters by. On could my in order never  ... (30 characters truncated) ...  it to parties colonel. Depending conveying direction has led immediate. Law gate her well bed life feet seen rent. On nature or no except it sussex.'),
 (9, 9, 9, datetime.date(2023, 10, 28), 'Rank tall boy man them over post now. Off into she bed long fat room. Recommend existence curiosity perfectly favourite get eat she why daughters. Not may too nay busy last song must sell. An newspaper assurance discourse ye certainly. Soon gone game and why many calm have.'),
 (10, 10, 10, datetime.date(2023, 11, 12), 'Is we miles ready he might going. Own books built put civil fully blind fanny. Projection appearance at of admiration no. As he totally cousins warra ... (45 characters truncated) ...  acuteness supported affection it. Except had sex limits county enough the figure former add. Do sang my he next mr soon. It merely waited do unable.')]

In [ ]:
%sql INSERT INTO venue (size, cost, city) VALUES (100, 1000, 'NYC'), (250, 2000, 'Philly'), (800, 1000, 'Boston'), ('John doe', 6, 'Hotel'), ('Gerald Luus', 1, 'Motel'), ('Spock Indy', 3, 'AirBNB'), ('Draven Pikachu', 4, 'Hotel'), ('Sango Anakin', 5, 'Motel'), ('Xena Godzilla', 1, 'AirBNB'), ('Murron Aang', 9, 'Hotel');

In [ ]:
%sql INSERT INTO transportation (t_mode, vendor, cost) VALUES ('driving', 'blindDrivers', 129.99), ('driving', 'SleepyJoe', 99.99), ('driving', 'CoachUSA', 89.99), ('driving', 'BlueCollarDriver', '95.99'), ('driving', 'DavelBoson', 109.99), ('driving', 'GreyHound', 90.99), ('flying', 'Spirit', 69.99), ('flying', 'Delta', 109.99), ('flying', 'United', 119.99), ('flying', 'American Airlines', 139.99), ('driving', 'DeafDriversUSA', 49.99);

In [ ]:
%sql INSERT INTO personnel (rate, name) VALUES (50, 'Wu Gang'), (70, 'Joe Bang'), (100, 'Tyrion'), (90, 'Jackson'), (85, 'Jockawock'), (65, 'Local Handy Man'), (85, 'Alex YuVu'), (130, 'Carlos Martinez'), (135, 'Princess Kenny'), (450, 'Luca Carloni'), (650, 'Jason Nieh');

In [ ]:
 %sql INSERT INTO users(genre) VALUES ('K-POP'), ('Indie Rock'), ('Punk'), ('Underground'), ('R&B'), ('Hip-Hop'), ('Dance'), ('Latin'), ('Soul'), ('Classical');

In [ ]:

%sql INSERT INTO booking(cost) VALUES (50000), (2500), (1500), (7000), (9000), (15000), (25000), (8500), (1000), (17500), (86832);

In [ ]:
%sql INSERT INTO has_booking(bid, uid) VALUES (1,1), (2,2), (3,3), (4,4), (5,5), (6,6), (7,7), (8,8), (9,9), (10,10);

In [ ]:
%sql INSERT INTO equipment_rental (bid, eqid) VALUES (1,1), (2,2), (3,3), (4,4), (5,5), (6,6), (7,7), (8,8), (9,9), (10,10);

In [ ]:
%sql INSERT INTO transportation_rental (tid, bid, from_loc, to_loc) VALUES (1,1, 'New York', 'Boston'), (2,2, 'New York', 'DC'), (3,3, 'New York', 'Philly'), (4,4, 'DC', 'Philly'), (5,5, 'DC', 'Boston'), (6,6, 'DC', 'New York'), (7,7, 'Boston', 'New York'), (8,8, 'Boston', 'Philly'), (9,9, 'Philly', 'DC'), (10,10, 'Philly', 'New York');

In [ ]:
%sql INSERT INTO lodging_rental (lodge_id, bid, lodge_loc, start_date, end_date) VALUES (1,1, 'downtown', '2020-05-27', '2020-05-30'), (2,2, 'suburb', '2022-09-20', '2022-09-25'), (3,3, 'next to dumpster', '2022-05-20', '2022-05-22'), (4,4, 'Mar-a-go', '2022-03-17', '2022-03-17'), (5,5, 'South of Downtown', '2022-02-9', '2022-02-17'), (6,6, 'NorthCo', '2022-01-24', '2022-01-27'), (7,7, 'Southside', '2022-08-29', '2022-09-01'), (8,8,'mom''s basement', '2022-07-22', '2022-07-25'), (9,9, 'dad''s couch', '2022-04-17', '2022-05-23'), (10,10, 'poverty', '2022-07-19', '2022-07-20');

In [ ]:
%sql INSERT INTO person_contract (pid, bid, contract_date, hours) VALUES (1,1, '2020-05-27', 7), (2,2, '2022-09-20', 9), (3,3, '2022-05-20', 6), (4,4, '2022-03-17', 11), (5,5, '2022-02-9', 6.5), (6,6, '2022-01-24', 5.5), (7,7, '2022-08-30', 4.5), (8,8, '2022-07-22', 5.5), (9,9, '2022-04-20', 5), (10,10, '2022-07-19', 9);

In [ ]:
#%sql INSERT INTO venue_rental(vid, bid, date_rental) VALUES (1,1, '2020-05-27'), (2,2, '2022-09-20'), (3,3, '2022-05-20'), (4,4, '2022-03-17'), (5,5, '2022-02-9'), (6,6, '2022-01-24'), (7,7, '2022-08-30'), (8,8, '2022-07-22'), (9,9, '2022-04-20'), (10,10, '2022-07-19');

In [ ]:
%sql INSERT INTO listings ()

In [ ]:
%sql SELECT min(booking.cost) FROM has_booking JOIN booking ON has_booking.bid = booking.bid WHERE booking.cost > 15000

In [ ]:
%sql SELECT count(*) FROM booking B, transportation T, transportation_rental R WHERE B.bid = R.bid AND T.tid = R.tid AND R.from_loc = 'New York'

In [ ]:
#%sql INSERT INTO review_posted (rid, review_title, review_text, date_post, uid) VALUES (1, 'Very good', 'Excellent trip', '2022-9-28' ,1), (2, 'Fantastic booking', 'had a great time in Reno', '2022-4-29' ,2), (3, 'Awesome tour', 'Can''t be better, omwg I love you guys', '2022-8-23', 3), (4, 'Big Apple', 'We had a great time in new york', '2022-11-29', 4), (5, 'So easy to perform', 'as a small band, this is super awesome', '2022-9-20' ,5), (6, 'Roadies need not applied', 'Easy to go tour, with everything covered', '2022-12-09', 6), (7, 'terrible app', 'you guys are ass, another silicon valley bs', '2022-11-29', 7), (8, 'OMGGGG this app', 'where were this website 10 years ago, super easy to organize everything', '2022-5-18', 8), (9, 'meh', 'it''s okay but the guy we hired was terrible', '2022-05-29', 9), (10, 'amazing customer support', 'had some issue on the road and it was taken care well', '2022-2-7', 10);

In [ ]:
%sql SELECT users.uid FROM users,

In [ ]:
%sql SELECT users.uid, equipment.eq_type, equipment.price  FROM users, has_booking, equipment_rental, equipment, booking WHERE users.uid = has_booking.uid AND booking.bid = has_booking.bid AND equipment_rental.bid = booking.bid AND equipment_rental.eqid = equipment.eqid AND equipment.eq_type LIKE 'Used%' ;

### Querying into created structure and data for testing

In [ ]:
#####3 NEW QUERIES BELOW####
#find the username of the user who has a listing with an item of mint condition
%%sql SELECT users.username
FROM createlist, users, listings
WHERE createlist.uid = users.uid AND
createlist.lid = listings.lid AND
listings.condition = 'mint';

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
3 rows affected.

[('kpop_star',), ('joe_apapa',), ('rear_end_stomach69',)]

In [ ]:
#get the username and reputation of the user who has written the longest comment
%%sql SELECT users.username, users.rep
FROM users
WHERE uid IN ( SELECT uid
	       from commentWritten
	       order by length(content) desc
	       LIMIT 1);

In [ ]:
#get the username and amount of posts written of the user who has written the most amount of posts
%%sql SELECT users.username, COUNT(users.username) as number_of_posts
FROM users, forumPost as post, createsForumPost as mid
WHERE users.uid = mid.uid AND
post.post_id = mid.post_id
GROUP BY users.username
ORDER BY COUNT(users.username) DESC
LIMIT 1

 * postgresql://bnp2113:***@w4111project1part2db.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
1 rows affected.

[('kpop_star', 4)]